CREATE DATABASE cafe
GO
USE [cafe]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](250) NULL,
	[PassWord] [nvarchar](250) NULL,
	[Role] [int] NULL,
	[FullName] [nvarchar](250) NULL,
	[Gender] [int] NULL,
	[PhoneNumber] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountImage]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountImage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ImageID2] [int] NULL,
	[IsAvatar] [bit] NULL,
 CONSTRAINT [PK_AccountImage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[ProductDetailId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](250) NULL,
	[ImageName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](250) NULL,
	[CustomerName] [nvarchar](250) NULL,
	[PhoneNumber] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateBy] [nvarchar](250) NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[TotalMoney] [decimal](18, 2) NULL,
	[OrderID] [int] NULL,
	[ProductDetailID] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](250) NULL,
	[ProductTypeID] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ProductSizeID] [int] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductSize] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](250) NULL,
	[Name] [nvarchar](250) NULL,
	[GroupType] [int] NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Email], [PassWord], [Role], [FullName], [Gender], [PhoneNumber], [Address], [IsActive]) VALUES (1, N'admin', N'1', 2, N'Admin', 0, N'0328104515', N'Hà Nội', 1)
INSERT [dbo].[Account] ([ID], [Email], [PassWord], [Role], [FullName], [Gender], [PhoneNumber], [Address], [IsActive]) VALUES (2, N'lekhoi200503@gmail.com', N'1', 2, N'Lê Minh Khôi', 0, N'0328104516', N'Quảng Ninh', 1)
INSERT [dbo].[Account] ([ID], [Email], [PassWord], [Role], [FullName], [Gender], [PhoneNumber], [Address], [IsActive]) VALUES (3, N'huyen@gmail.com', N'1', 2, N'Thanh Huyền', 1, N'0335149758', N'Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([ID], [AccountId], [ProductDetailId], [Quantity]) VALUES (22, 4, 37, 2)
INSERT [dbo].[Cart] ([ID], [AccountId], [ProductDetailId], [Quantity]) VALUES (23, 4, 28, 1)
INSERT [dbo].[Cart] ([ID], [AccountId], [ProductDetailId], [Quantity]) VALUES (29, 10, 52, 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [OrderCode], [CustomerName], [PhoneNumber], [Address], [Status], [CreateDate], [CreateBy], [AccountID]) VALUES (7, N'MHĐ2024CFS1', N'Thanh Huyền', N'0376149756', N'Hà Nội', 1, CAST(N'2024-05-15T12:16:32.867' AS DateTime), N'Thanh Huyền', 3)
INSERT [dbo].[Order] ([ID], [OrderCode], [CustomerName], [PhoneNumber], [Address], [Status], [CreateDate], [CreateBy], [AccountID]) VALUES (8, N'MHĐ2024CFS2', N'Dương Giang', N'0376149834', N'Hưng Yên', 2, CAST(N'2024-05-01T12:16:32.867' AS DateTime), N'Hương Giang', 4)
INSERT [dbo].[Order] ([ID], [OrderCode], [CustomerName], [PhoneNumber], [Address], [Status], [CreateDate], [CreateBy], [AccountID]) VALUES (9, N'MHĐ2024CFS3', N'Hương Giang', N'0376149756', N'Hưng Yên', 2, CAST(N'2024-05-02T12:16:32.867' AS DateTime), N'Hương Giang', 4)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([ID], [Quantity], [TotalMoney], [OrderID], [ProductDetailID]) VALUES (23, 1, CAST(49000.00 AS Decimal(18, 2)), 7, 62)
INSERT [dbo].[OrderDetails] ([ID], [Quantity], [TotalMoney], [OrderID], [ProductDetailID]) VALUES (24, 1, CAST(49000.00 AS Decimal(18, 2)), 7, 13)
INSERT [dbo].[OrderDetails] ([ID], [Quantity], [TotalMoney], [OrderID], [ProductDetailID]) VALUES (25, 2, CAST(98000.00 AS Decimal(18, 2)), 8, 37)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Code], [Name], [IsActive], [Description], [ProductTypeID]) VALUES (8, N'BacSiu', N'Bạc sỉu', 1, N'', 9)
INSERT [dbo].[Product] ([ID], [Code], [Name], [IsActive], [Description], [ProductTypeID]) VALUES (9, N'BacSiuNong', N'Bạc sỉu nóng', 1, N'', 9)
INSERT [dbo].[Product] ([ID], [Code], [Name], [IsActive], [Description], [ProductTypeID]) VALUES (10, N'CFDenDa', N'Cà phê đen đá', 1, N'', 9)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([ID], [ProductID], [ProductSizeID], [Price]) VALUES (10, 9, 2, CAST(49000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductDetails] ([ID], [ProductID], [ProductSizeID], [Price]) VALUES (11, 9, 3, CAST(59000.00 AS Decimal(18, 2)))
INSERT [dbo].[ProductDetails] ([ID], [ProductID], [ProductSizeID], [Price]) VALUES (12, 9, 6, CAST(69000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ID], [ProductID], [ImageUrl], [FileName]) VALUES (1, 8, N'20240605_225427_335_BacSiu.jpg', N'BacSiu.jpg')
INSERT [dbo].[ProductImage] ([ID], [ProductID], [ImageUrl], [FileName]) VALUES (3, 9, N'20240605_225858_994_BacSiuNong.webp', N'BacSiuNong.webp')
INSERT [dbo].[ProductImage] ([ID], [ProductID], [ImageUrl], [FileName]) VALUES (4, 10, N'20240605_225953_776_CaPheDenDa.jpg', N'CaPheDenDa.jpg')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([ID], [Code], [Name], [Description]) VALUES (2, N'M', N'M', NULL)
INSERT [dbo].[ProductSize] ([ID], [Code], [Name], [Description]) VALUES (3, N'L', N'L', NULL)
INSERT [dbo].[ProductSize] ([ID], [Code], [Name], [Description]) VALUES (6, N'XL', N'XL', N'')
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ID], [Code], [Name], [GroupType], [Description]) VALUES (7, N'HiTea', N'Trà Hi-Tea', 2, N'')
INSERT [dbo].[ProductType] ([ID], [Code], [Name], [GroupType], [Description]) VALUES (8, N'TraTraiCay', N'Trà trái cây', 2, N'')
INSERT [dbo].[ProductType] ([ID], [Code], [Name], [GroupType], [Description]) VALUES (9, N'CaPhe', N'Cà phê', 1, N'')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
/****** Object:  StoredProcedure [dbo].[spGetAllAccount]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllAccount]
	@PageNumber int,
	@Request nvarchar(250)
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 10;

	Select *,
		Case when Role = 1 then N'Người dùng'
		 else Case when Role = 2 then N'Admin'
		 else '' End
		 End as RoleText,
		 Case when Gender = 0 then N'Nam'
		 else Case when Gender = 1 then N'Nữ'
		 else '' End
		 End as GenderText
	from Account as a 
	WHERE (FullName like '%' + @Request +'%' OR Email like '%' + @Request +'%')
	Order by Id 
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 10 rows only

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllOrder]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllOrder]
	@Request nvarchar(250) = N'',
	@PageNumber int = 1,
	@Status int = -1,
	@DateStart datetime = '2024-01-01',
	@DateEnd datetime = '2099-01-01'
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 10;

	Select * from [Order]
	where (@Request is null Or TRIM(@Request) = N''
			OR OrderCode like CONCAT(N'%',@Request,'%')
			OR CustomerName like CONCAT(N'%',@Request,'%')
			OR [Address] like CONCAT(N'%',@Request,'%')
			OR PhoneNumber like CONCAT(N'%',@Request,'%'))
	AND (@Status = -1 OR [Status] = @Status)
	AND CreateDate BETWEEN @DateStart AND @DateEnd
	ORDER BY ID DESC
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 10 rows only
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProduct]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllProduct]
	@PageNumber int,
	@Request nvarchar(250)
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 10;

	Select p.*, t.Name as ProductTypeName from Product as p
	LEFT JOIN ProductType as t on p.ProductTypeID = t.ID
	WHERE (p.Name like N'%' + @Request +'%' 
	OR p.Code like N'%' + @Request +'%')
	Order by p.ID 
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 10 rows only

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProductClient]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 05/06/2024>
-- Description:	<Description: Get dữ liệu sản phẩm>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllProductClient]
	@PageNumber int = 1,
	@Request nvarchar(250) = N'',
	@typeId int = 0
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 12;

	Select  p.*,
	CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl,
	pr.Price
	from Product as p 
	Left Join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
    FROM 
        ProductImage
) as i on p.ID = i.ProductID
Left Join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Price) AS rn
    FROM 
        ProductDetails
) as pr on p.ID = pr.ProductID
	where  (@typeId = 0 Or p.ProductTypeID = @typeId )
	AND (@Request = N'' OR p.Code like N'%' + @Request + '%' OR p.Name like N'%' + @Request + '%' OR pr.Price like N'%' + @Request + '%')
	AND p.IsActive = 1
	AND i.rn = 1
	AND pr.rn =1
	Order by p.ID
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 12 rows only
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProductSize]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllProductSize]
	@PageNumber int,
	@Request nvarchar(250)
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 10;

	Select * from ProductSize 
	WHERE Name like '%' + @Request +'%' 
	Order by Id 
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 10 rows only

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllProductType]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllProductType]
	@PageNumber int,
	@Request nvarchar(250)
AS
BEGIN
	Declare @count int;
	if @PageNumber = 1 Set @count = 0;
	else Set @count = 10;

	Select * from ProductType 
	WHERE Name like '%' + @Request +'%' 
	Order by Id 
	Offset (@count * (@PageNumber - 1)) rows
	fetch next 10 rows only

END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllTotalAccount]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTotalAccount]
	@Request nvarchar(250)
AS
BEGIN
	Select Count(*) as TotalCount from Account 
	WHERE FullName like '%' + @Request +'%' OR Email like '%' + @Request +'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllTotalOrder]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 08/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTotalOrder]
	@Request nvarchar(250) = N'',
	@Status int = -1,
	@DateStart datetime = '2024-01-01',
	@DateEnd datetime = '2099-01-01'
AS
BEGIN
	Select Count(*) as TotalCount from [Order]
	where (@Request is null Or TRIM(@Request) = N''
			OR OrderCode like CONCAT(N'%',@Request,'%')
			OR CustomerName like CONCAT(N'%',@Request,'%')
			OR [Address] like CONCAT(N'%',@Request,'%')
			OR PhoneNumber like CONCAT(N'%',@Request,'%'))
	AND (@Status = -1 OR [Status] = @Status)
	AND CreateDate BETWEEN @DateStart AND @DateEnd
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllTotalProduct]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTotalProduct]
	@Request nvarchar(250)
AS
BEGIN
	Select Count(*) as TotalCount from Product
	WHERE (Name like '%' + @Request +'%'
	OR Code like '%' + @Request +'%')
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllTotalProductClient]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 08/06/2024>
-- Description:	<Description: Get số sản phẩm theo bộ lọc>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTotalProductClient] 
	@Request nvarchar(250) = N'',
	@typeId int = 0
AS
BEGIN
	Select  Count(*) as TotalCount
	from Product as p 
	where  (@typeId = 0 Or p.ProductTypeID = @typeId )
	AND (@Request = N'' OR p.Code like N'%' + @Request + '%' OR p.Name like N'%' + @Request + '%')
	AND p.IsActive = 1
	
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAllTotalProductSize]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetAllTotalProductSize]
	@Request nvarchar(250)
AS
BEGIN
	Select Count(*) as TotalCount from ProductSize 
	WHERE Name like '%' + @Request +'%' 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetCartByAccountId]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 07/06/2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetCartByAccountId]
	@AccountId int
AS
BEGIN
	Select c.ID as CartId,
	c.Quantity,
	p.Name as ProductName,
	ps.Name as SizeName,
	CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl,
	pd.Price,
	pd.ID as ProductDetailsId
	From Cart as c
	left join ProductDetails as pd on c.ProductDetailId = pd.ID
	left join Product as p on pd.ProductID = p.ID
	left join ProductSize as ps on pd.ProductSizeID = ps.ID
	left join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
    FROM 
        ProductImage
) as i on p.ID = i.ProductID
	WHERE p.IsActive = 1 AND c.AccountId = @AccountId
END
GO
/****** Object:  StoredProcedure [dbo].[spGetHardestToSell]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 09/06/2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetHardestToSell]
		@topSale int
AS
BEGIN
		CREATE TABLE #temp (
		ProductID INT,
		TotalSales INT
	);
	DECLARE @sql NVARCHAR(MAX);

	SET @sql = N'
		INSERT INTO #temp (ProductID, TotalSales)
		SELECT TOP ' + CAST(@topSale AS NVARCHAR(10)) + ' 
			pd.ProductID, 
			SUM(od.Quantity) AS TotalSales
		FROM [Order] AS o
		LEFT JOIN OrderDetails AS od ON o.ID = od.OrderID
		LEFT JOIN ProductDetails AS pd ON od.ProductDetailID = pd.ID
		WHERE o.Status = 2
		GROUP BY pd.ProductID
		ORDER BY TotalSales';

	EXEC sp_executesql @sql;


	--SELECT Top @topSale as int  pd.ProductID, SUM(od.Quantity) as TotalSales 
	--INTO #temp
	--FROM [Order] as o
	--left join OrderDetails as od on o.ID = od.OrderID
	--left join ProductDetails as pd on od.ProductDetailID = pd.ID
	--WHERE o.Status = 2
	--Group by pd.ProductID
	--ORDER BY TotalSales Desc

	Select  p.*,
	CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl,
	pr.Price,
	t.TotalSales
	from Product as p 
	INNER JOIN #temp as t on p.ID = t.ProductID
	Left Join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
    FROM 
        ProductImage
	) as i on p.ID = i.ProductID
	Left Join (
		SELECT 
			*,
			ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Price) AS rn
		FROM 
			ProductDetails
	) as pr on p.ID = pr.ProductID
	where  p.IsActive = 1
	AND i.rn = 1
	AND pr.rn =1
	Order by t.TotalSales

	DROP TABLE #temp;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetHistoryCheckOut]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 07/06/2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetHistoryCheckOut]
	@AccountId int = 0,
	@Request nvarchar(250) = N''
AS
BEGIN
	select o.*,
			Case when o.Status = 0 then N'Chờ xác nhận đơn hàng'
				else Case when o.Status = 1 then N'Đơn hàng đang giao'
						else Case when o.Status = 2 then N'Đơn hàng giao thành công'
							else Case when o.Status = 3 then N'Đơn hàng đã hủy'
								else N'' End
							end
						end
				end as StatusText
		   ,od.TotalMoney 
	from [Order] as o
	Left join 
		(SELECT OrderID, 
			SUM(TotalMoney) as TotalMoney	
			from OrderDetails 
			GROUP BY OrderID) as od on o.ID = od.OrderID
	Where (@AccountId = 0 OR o.AccountID = @AccountId)
	And (@Request = N'' OR o.CustomerName like '%' +@Request + '%'
	OR o.Address like '%' +@Request + '%'
	OR o.PhoneNumber like '%' +@Request + '%')
	ORDER BY o.ID DESC

END
GO
/****** Object:  StoredProcedure [dbo].[spGetOrderDetails]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 07/06/2024>
-- Description:	<Description:>
-- =============================================
CREATE PROCEDURE [dbo].[spGetOrderDetails]
	@OrderId int = 0
AS
BEGIN
	SELECT p.Name AS ProductName,
       ps.Name AS SizeName,
       CAST(od.TotalMoney as INT) AS TotalMoney,
       od.Quantity,
       CAST((od.TotalMoney / od.Quantity) as INT) AS Price,
	   CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl
	FROM OrderDetails AS od
	LEFT JOIN ProductDetails AS pd ON od.ProductDetailID = pd.ID
	LEFT JOIN Product AS p ON p.ID = pd.ProductID
	LEFT JOIN ProductSize AS ps ON ps.ID = pd.ProductSizeID
	left join (
		SELECT 
			*,
			ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
		FROM 
			ProductImage
	) as i on p.ID = i.ProductID
	WHERE (@OrderId = 0  Or od.OrderID = @OrderId)
END
GO
/****** Object:  StoredProcedure [dbo].[spGetProductSizeById]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetProductSizeById] 
	@ProductId int = 0
AS
BEGIN
	Select ps.*, Cast(pd.Price as Int) as Price, pd.ID as ProductDetailsId from ProductDetails as pd
	Left Join ProductSize as ps on pd.ProductSizeID = ps.ID
	Where pd.ProductID = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTop4BestSale]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 09/06/2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetTop4BestSale]
		@topSale int
AS
BEGIN
		CREATE TABLE #temp (
		ProductID INT,
		TotalSales INT
	);
	DECLARE @sql NVARCHAR(MAX);

	SET @sql = N'
		INSERT INTO #temp (ProductID, TotalSales)
		SELECT TOP ' + CAST(@topSale AS NVARCHAR(10)) + ' 
			pd.ProductID, 
			SUM(od.Quantity) AS TotalSales
		FROM [Order] AS o
		LEFT JOIN OrderDetails AS od ON o.ID = od.OrderID
		LEFT JOIN ProductDetails AS pd ON od.ProductDetailID = pd.ID
		WHERE o.Status = 2
		GROUP BY pd.ProductID
		ORDER BY TotalSales DESC';

	EXEC sp_executesql @sql;


	--SELECT Top @topSale as int  pd.ProductID, SUM(od.Quantity) as TotalSales 
	--INTO #temp
	--FROM [Order] as o
	--left join OrderDetails as od on o.ID = od.OrderID
	--left join ProductDetails as pd on od.ProductDetailID = pd.ID
	--WHERE o.Status = 2
	--Group by pd.ProductID
	--ORDER BY TotalSales Desc

	Select  p.*,
	CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl,
	pr.Price,
	t.TotalSales
	from Product as p 
	INNER JOIN #temp as t on p.ID = t.ProductID
	Left Join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
    FROM 
        ProductImage
	) as i on p.ID = i.ProductID
	Left Join (
		SELECT 
			*,
			ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Price) AS rn
		FROM 
			ProductDetails
	) as pr on p.ID = pr.ProductID
	where  p.IsActive = 1
	AND i.rn = 1
	AND pr.rn =1
	Order by t.TotalSales DESC

	DROP TABLE #temp;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTop4ProductNew]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooi>
-- Create date: <Create Date: 09/06/2024>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetTop4ProductNew]
AS
BEGIN
	Select Top 4 p.*,
	CONCAT( 'https://localhost:44368/images/',i.ImageUrl) as ImageUrl,
	pr.Price
	from Product as p
	Left Join (
    SELECT 
        *,
        ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Id DESC) AS rn
    FROM 
        ProductImage
	) as i on p.ID = i.ProductID
	Left Join (
		SELECT 
			*,
			ROW_NUMBER() OVER (PARTITION BY ProductID ORDER BY Price) AS rn
		FROM 
			ProductDetails
	) as pr on p.ID = pr.ProductID
	where  p.IsActive = 1
	AND i.rn = 1
	AND pr.rn =1
	Order By p.ID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTotalCountProductType]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lee Min Khooiiii>
-- Create date: <Create Date: 03/06/2024>
-- Description:	<Description: Store lấy dữ liệu >
-- =============================================
CREATE PROCEDURE [dbo].[spGetTotalCountProductType]
	@Request nvarchar(250)
AS
BEGIN

	Select count(*) as TotalCount from ProductType 
	WHERE Name like '%' + @Request +'%' 

END
GO
/****** Object:  StoredProcedure [dbo].[spGetTotalPuchase]    Script Date: 18/06/2024 09:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author: Lê Minh Khôi>
-- Create date: <Create Date:  17/06/2024>
-- Description:	<Description: Doanh thu theo tháng>
-- =============================================
CREATE PROCEDURE [dbo].[spGetTotalPuchase]
	@Month int,
	@Year int
AS
BEGIN
	DROP table if exists #temp
	SELECT SUM(TotalMoney) as TotalMoney, OrderID
	INTO #temp
	FROM OrderDetails Group by OrderID

	SELECT Cast( Sum(t.TotalMoney) as int) as TotalMoney, FORMAT(o.CreateDate, 'dd-MM-yyyy') as DayInMonth

	from [Order] as o
	INNER JOIN #temp as t on o.ID = t.OrderID
	WHERE Month(o.CreateDate) = @Month AND YEAR(o.CreateDate)  = @Year
	GROUP BY FORMAT(o.CreateDate, 'dd-MM-yyyy')

	DROP table if exists #temp
	
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Chờ xác nhận; 1: Đang giao; 2: Thành công; 3: Hủy hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Order', @level2type=N'COLUMN',@level2name=N'Status'
GO
